<link rel="stylesheet" href="./components/cane/cane.css" />
<div class="cane">
	<h1>Cane</h1>
	<p>
		Lorem ipsum cane, sit amet consectetur adipisicing elit. Deleniti dolor
		excepturi sed incidunt corrupti accusantium, inventore cupiditate
		adipisci rem error provident, quo facilis! Doloribus ad ducimus
		corrupti, enim sunt rerum.
	</p>
	<img
		alt="Foto di cane"
		src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1094874726.png?crop=0.542xw:0.814xh;0.0472xw,0.127xh&resize=640:*"
	/>
</div>
<script async src="./components/cane/cane.js"></script>
